body { line-height: 1.2; font-family: Helvetica, sans-serif; }

.cpoLink { text-decoration: none; background-color: #033057; }

.cpoImg { width: 100px; position: relative; top: 350px; left: 420px; }

.cpoImg:hover { opacity: 0.8; }

ul { padding-top: 0px; }

li { list-style: none; text-align: left; font-size: 20px; padding: 0px 0 0 0px; }

.vehicleContainer { width: 900px; margin: 0px 0 70px 0; }

.leftSpanColumn { margin: 0; padding: 0; width: 520px; display: inline-block; }

.rightSpanColumn { top: 73px; position: relative; margin: 0; padding: 0; display: inline-block; vertical-align: top; text-align: right; width: 380px; }

h1 { line-height: 1; margin: 0; padding: 0; }

.vehicleTitle { font-size: 25px; padding-top: 15px; text-align: right; }

.price { font-size: 70px; padding-top: 10px; }

h4 { line-height: 1; margin: 0; padding: 0; font-size: 20px; font-weight: normal; }

.mainImg { width: 520px; display: block; margin: 5px; }

.supImg { width: 77px; margin: 3px 5px; }

.vehicleCTA { vertical-align: bottom; bottom: -15px; position: relative; margin: 0 0 0 20px; display: block; width: 360px; padding: 15px 0; font-size: 20px; background-color: #033057; text-align: center; color: #ffffff; text-decoration: none; }

.vehicleCTA:hover { background-color: #00192f; }

.supImages { width: 525px; margin: 0 auto; padding: 0 0 0 6px; }
